body {
  background-color: #1f1f1f !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
}

.bg-dark {
  background-color: #1a1a1a !important;
}

.text-danger {
  color: #cc4e5c !important;
}

.card img {
  transition: transform 0.2s;
  cursor: pointer;
}

.card img:hover {
  transform: scale(1.02);
}
.bg-sidebar {
  background-color: #252526 !important;

  backdrop-filter: blur(20px);
}

aside .nav-link {
  transition: background-color 0.2s;
}

aside .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.form-control::placeholder {
  color: #a0a0a0 !important;
  opacity: 1;
}

.form-control:focus {
  background-color: transparent !important;
  color: white !important;
}

#sectionEx {
  background-color: #2c2c2c !important;
}

p {
  color: #a0a0a0 !important;
}

.custom-volume-slider::-webkit-slider-thumb {
  background-color: #ffffff !important;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); 
}